[submodule "QtQuickStream"]
	path = QtQuickStream
	url = https://github.com/rasna-io/QtQuickStream.git
[submodule "ColorPicker"]
	path = ColorPicker
	url = https://github.com/rasna-io/ColorPicker.git
